body {
    margin: 0;
    background-color: #1c1c1d;
    /*White text color*/
    color: #f6f6f6;
    font-family: system-ui;
}

li, li a {
    color: #f6f6f6;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

.container {
    display: flex;
    gap: 0;
    overflow: hidden;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
}

.sidebar {
    background-color: rgb(35, 35, 40);
    flex-basis: 15%;
    flex-grow: 1;
    height: 100vh;
}

.sidebar-content-bottom {
    position: fixed;
    bottom: 0;
}

.content {
    background-color: #363636;
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
    height: 100vh;

    display: flex;
    flex-direction: column;

}


.messages-list {
    overflow: auto;
    background-color: #121212;
    flex: 1;
}

.message {
    font-size: 1.0rem;
    font-family: system-ui;

    background-color: #323334;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-bottom: 0.5rem;

    display: flex;
    gap: 0;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
}

.message-content {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.message-role {
    display: inline-block;
    width: 30px; /* Adjust the square size by changing width and height */
    height: 30px;
    text-align: center;
    line-height: 30px; /* Should match the height of the square */
    font-size: 14px; /* Adjust the font size if needed */
    font-family: Arial, sans-serif; /* Change the font family if needed */
    margin-right: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    font-weight: bold;

}

.ai-message-icon {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.user-message-icon {
    background-color: rgba(58, 58, 206, 0.62);
    color: white;
}


.chat-input-area {
    flex: none; /* Do not grow or shrink */
    position: sticky;
    bottom: 0;

    background: linear-gradient(to top, rgba(0, 0, 255, 0.40), rgba(0, 0, 255, 0));

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 20%;
    max-height: 50%;
}

textarea {
    resize: none;
    width: 80%;

    box-sizing: border-box;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
    line-height: 1;

    display: inline-block;
}

.spinner {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 4px solid rgba(12, 12, 12, 0.6);
    border-top: 4px solid rgba(0, 0, 255, 0.62);
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin-left: 0.5rem;
    visibility: hidden; /* Set initial visibility to hidden */
}

.spinner.visible {
    visibility: visible;
}

.spinner.hidden {
    visibility: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.send-icon-btn {
    background-image: url('../icons/paper-plane.png');
    background-size: cover;
    background-color: transparent;
    width: 25px;
    height: 25px;
    border: none;
    margin-left: 0.5rem;
}
