body {
  background-color: #363636;
}

form {
  margin: 0 auto; /* center the form */
  max-width: 600px; /* limit the width of the form */
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  background-color: rgba(0, 0, 255, 1);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: darkblue;
}
